extends layout 

block content 
    h1 = form 
    form(action="/new", method="post") 
        input(type="text", name="nameText")
        input(type="text", name="messageText")
        input(type="submit", value="")