extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each message in messages.length ? messages : ['No messages']
      li= {message.user, message.text}
  a(href="/new") Enter New Message