extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each message in messages.length ? messages : ['No messages']
      li= JSON.stringify(message)
  a(href="/new") Enter New Message